/*connect css*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif;
    background-color: #ccff422b;
}

header {
    text-align: center;
    padding: 20px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 100vh;
    background-color: #ccff422b;
}

.event-scheduler,
.group-form {
    margin: 20px 0;
    background: #f5f5f5;
    padding: 20px;
    border: 1px solid #ee5d5d;
}

.event-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
    gap: 20px;
}

.event-card {
    background-color: #ccff422b;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid #a8a8a8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.event-card h3 {
    margin-top: 0;
    color: #800000;
}

.event-card p {
    color: #555;
}

.event-card a {
    display: inline-block;
    padding: 10px;
    background: #ff7d7d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.event-card a:hover {
    background: #993333;
}



.logo img {
    filter: invert(1);
}