/*text styles*/
.showName {
    color:rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight:700;
}

.episodeTitle {
    font-size:32px;
    line-height:1;
    color:white;
}

.imgYT {
    width: 320px;
    height: 180px;
}

.imgSP{
    width: 240px;
    height: 75px;
    border-radius: 12px;
    vertical-align: top;
    background-image: url('https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_RGB_Green.png');
    background-size: 100%;
    background-repeat: no-repeat;
}