   /*text styles*/
    .textShow {
        color:rgb(255, 255, 255);
        text-transform: uppercase;
        font-weight:700;

    }

    .textEpName {
        font-size:32px;
        line-height:1;
        color:white;
    }

    .imgYT {
        width: 320px;
        height: 180px;
    }