/* INDEX CSS */
body {
    background-image:url('./assets/CPC 3 BG.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    
  }

  .full-footer {
    background-color: #bebebe34;
    width: 100%;
   
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    font-size:12px;
  }

  .footer-inner-wrap {
    width: 90%;
    color:white;
  }