body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color:rgba(116, 116, 223, 1);
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ccc;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}
