 /* Add the following CSS code */
 .top-nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white; /* change background color to white */
    color: black; /* change font color to black */
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5); /* change border color to black */
    backdrop-filter: none; /* remove backdrop filter */
    padding: 10px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }

.top-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-nav li {
  margin: 0;
}

.top-nav a {
  color: black;
  text-decoration: none;
  padding: 10px;
  margin: 0 5px;
  font-family: 'Barlow', sans-serif;
  font-size: 16px;
  text-align:left;
}

.top-nav a:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.center-column {
  display: flex;
  align-items: center;
}

.time,
.date {
  color: white;
  margin: 0 10px;
}

.user {
  display: flex;
  flex-direction:column;
  align-items: center;
}

.user img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  margin-right: 10px;
}

.user span {
  color: white;
}

.sermon-feed {
  margin-left: auto;
}

.live-sermon-button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right:20px;
}