.call-to-action {
    max-width: 600px;
    margin: 30px auto;
    background-color: rgba(0, 123, 255, 0.015);
    /* Increased transparency */
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    /* Softer and larger drop shadow */
    padding: 30px;
    text-align: center;
    font-family: 'Arial', sans-serif;
}



.inner-page-section h2 {
    font-family: 'Arial', sans-serif;
    color: #333;
}

.inner-page-section .body-text {
    font-family: 'Arial', sans-serif;
    color: #666;
    margin-bottom: 20px;
}

.inner-page-section form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inner-page-section input,
.inner-page-section textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    width: 100%;
}

.inner-page-section button {
    padding: 10px 20px;
    background-color: rgba(0, 123, 255, 0.5);
    /* Increased transparency */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    /* Softer and larger drop shadow */
}

.key-leader-contacts {
    max-width: 600px;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.key-leader-contacts h3 {
    font-family: 'Arial', sans-serif;
    color: #333;
}

.key-leader-contacts ul {
    list-style-type: none;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #666;
}

.key-leader-contacts li {
    margin-bottom: 10px;
}