
  @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;

  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  font-size: 1.245rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #0c0d1a;
}



li {
    font-size:100px;
}


  
  
  .top-nav-bar {
    background-color: #333;
    overflow: hidden;
  }
  
  .top-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .nav-button {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: none;
    border-radius: 4px;
  }
  
  .nav-button:hover {
    background-color: #555;
  }
  
  
  
  .center-column {
    display: flex;
    align-items: center;
  }
  
  .time,
  .date {
    color: white;
    margin: 0 10px;
  }
  
  .user {
    display: flex;
    flex-direction:column;
    align-items: center;
  }
  
  .user img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user span {
    color: white;
  }
  
  .sermon-feed {
    margin-left: auto;
  }
  
  .live-sermon-button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right:20px;
  }
  
  #googleSignUp {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right:20px;
  }
  
  #username {
    font-size:8px;
  }
  
  
  
  .timeDisplayWidget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    padding: 10px;
    width: 30px;
    margin: 7.5px 10px ;
    position: fixed;
    bottom: 0;
    right: 0;
    font-weight:900;
  }
  
  .time, .date {
    margin: 0;
    padding: 5px;
  }
  
  
  .search-box {
      background-color: rgba(225, 225, 225, 0.726);
      border: none;
      border-radius: 5px;
      padding: 10px;
      width: 80%;
      outline: none;
    }
    

  
  
    
  
  .ministry-section {
      margin-bottom: 2rem;
      color:white;
  }
  
  .ministry-section h3 {
      margin-bottom: 0.5rem;
  }
  
  .ministry-section p {
      margin-bottom: 0.5rem;
  }
  
  .ministry-section a {
      color:white;
  }
  
  
  .weekly-preview-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 16px;
    padding: 1em;
  }
  
  
  
  .subHeader-wrap h3 {
    width: 100%;
    text-align: center;
    margin: 0;
    backdrop-filter: blur(10px);
    color:white;
    font-weight: 300;
      text-shadow: 0 0 3px rgb(0, 0, 0);
    
  }

  .monotype-font {
    font-family: monospace;
    text-transform:uppercase;
    color:rgba(255, 255, 255, 0.493);
  }

  #backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    transition: opacity 1s ease-in-out;
    opacity: 0;
  }

  .weekly-preview-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
}

.weekly-preview-item {
    width: 100%;
    min-height: 800px;
    background-color: #000000a1;
    color:white;
    border-radius:20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 16px;
    backdrop-filter: blur(4px); /* Add this line */

}

.weekly-preview-item:hover {
  border-color:white;
  background-color:rgba(0, 0, 0, 0.253);
}

@media (max-width: 768px) {
    .weekly-preview-item {
        min-height: auto;
    }
}


/* Add padding and centering to sections */
section {
  padding: 0 200px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Mobile responsive styling */
@media (max-width: 600px) {
  section {
    padding: 0 10%;
  }

  table {
    font-size: 12px;
  }

  th, td {
    padding: 3px;
  }

  h2 {
    font-size: 1.2em;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  color: white;
  font-size: 14px;
}

th, td {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

th {
  text-align: left;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: white;
  text-align: center;
}

p {
  font-size: 1.25em;
  line-height: 1.5;
  color: white;
}

h1 {
  font-size: 5em;
  margin-bottom: 10px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  font-size: 14px;
  line-height: 1.5;
  color: white;
}

ul li a {
  color: white;
  text-decoration: none;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin-bottom: 20px;
}





.home-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.time-display {
    font-size: 5em;
    margin-bottom: 20px;
    color:white;
    font-family:barlow;
}

.voice-assistant-icon img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}




        /* Import Barlow font and set responsive font size */
       
        .events-list li {
            font-family: 'Barlow', sans-serif;
            font-size: calc(10px + 2vmin); /* Responsive font size */
            color: white;
        }
        /* Add thumbnail images */
        .events-list li::before {
            content: '';
            display: inline-block;
            height: 50px;
            width: 50px;
            background-size: cover;
            background-repeat: no-repeat;
            margin-right: 10px;
        }

/*TOP BAR */
        .time {
            color:white;
          }
        
          .date {
            color:white;
          }
        
          .top-bar {
            display:flex;
            align-items: space-between;
          }
        
          #username {
            color:white;
          }