/* Add a dark blue background to the section */
body {
  line-height: 1.6;
  color: #fff;
  background: #000;
  font-size: 18px;
  font-weight: 400;
  font-family: "-apple-system", "BlinkMacSystemFont", "Roboto", "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.stop {
  overflow: hidden;
}

section h1 {
  font-size:120px;
}

#page {
  position: relative;
  transition: 1s all ease-in-out;
}
#page.menuopen {
  opacity: 0.6;
  filter: blur(20px);
  transform: scale(1.2);
}

section {
  display: flex;
  min-height: 100vh;
  padding: 30px;
  justify-content: center;
  align-items: center;
  background: #222;
  color: #fff;
  position: relative;
}
section:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0.5;
  height: 100%;
  width: 100%;
}


header {
  z-index: 99999;
  position: relative;
}
header #logo {
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  width: 100px;
  height: auto;
  margin: 0 auto;
  opacity: 1;
  transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
}
header nav {
  display: flex;
  height: 100px;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  left: 0;
  right: 0;
  width: 740px;
  margin: 0 auto;
  top: 120px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 200px;
  z-index: 9;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.06);
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
}
header nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  display: block;
  padding: 10px 17px;
  line-height: 1;
  font-size: 14.5px;
  letter-spacing: 2px;
  text-transform: lowercase;
  transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
}
header nav button {
  -webkit-appearance: none;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: absolute;
  z-index: 99;
  left: 0;
  margin: auto;
  right: 0;
  top: 0;
  bottom: 0;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: 0.3s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  transform: scale(0);
}
header nav button span {
  width: 35%;
  background: #fff;
  height: 2px;
  display: block;
  margin: 5px auto;
  transform: scalex(0);
  transition: 0.6s transform cubic-bezier(0.075, 0.82, 0.165, 1) 0s, 0.3s margin ease-in 0s;
}
header nav button:hover {
  border-color: rgba(255, 255, 255, 0.5);
}
header nav button:hover span {
  margin: 10px auto;
}

header.sticky #logo {
  top: 0;
  transform: scale(0.8);
  opacity: 0;
  transition-delay: 0.5s;
}
header.sticky nav {
  top: 20px;
  padding: 0;
  width: 90px;
  height: 90px;
  transition-delay: 0.5s;
}
header.sticky nav button {
  transform: scale(1);
  transition-delay: 0.6s;
}
header.sticky nav button span {
  transform: scalex(1);
  transition: 0.6s transform cubic-bezier(0.075, 0.82, 0.165, 1) 0.8s, 0.3s margin ease-in 0s;
}
header.sticky nav a {
  padding: 0;
  opacity: 0;
  letter-spacing: 0px;
  transform: scale(0.3);
  transition-delay: 0.2s;
}

#fixedlink {
  position: fixed;
  bottom: 0;
  z-index: 9999;
  right: 0;
  left: 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 20px;
}

#announcements {
background-color: #001f3f;
color: white;
padding: 20px;
display:flex;
flex-direction:column;
justify-content: center;
}

#announcements h1 {
  font-size:72px;
}


#announcements p {
font-size: 1.2em;
line-height: 1.6;
margin-bottom: 20px;
position: relative;
z-index:2;
padding:25px;
max-width:720px;
}

#announcements h2 {
font-size: 1.5em;
margin-top: 20px;
text-align: center;
text-transform: uppercase;
position:relative;
z-index:3;
line-height:85%;
}

#announcements h3 {
line-height: 25%;
text-align:center;
padding:10px;
color:white;
}


#worship {
display:flex;
flex-direction: column;
}

#about {
display:flex;
flex-direction: column;
}

#about p {
  font-size:22px;
  line-height: 130%;
  text-align:left;
  margin: 0px;

}

#about h1 {
  font-size:120px;
  position: relative;
  z-index: 4;
  margin: 0px;
}

#about h2,p {
position: relative;
z-index:3;
}

#about button {
  position: relative;
  z-index: 4;
}

#connect {
  display:flex;
  flex-direction: column;
}

#connect a {
  font-size: 30px; /* Adjust size as needed */
  color: white;
  text-decoration: none; /* Removes underline */
  position: relative;
  z-index: 3;
  line-height:85%;
  transition: color 0.3s ease, transform 0.3s ease; /* Add transition for smooth animation */
}

#connect a:hover {
  color: #47a0ff; /* Change color on hover */
  transform: scale(1.1); /* Make the text grow slightly on hover */
}

#podcasts {
  display:flex;
  flex-direction: column;
  min-height:100vh;
}

#podcasts h1,h2,h3, p, a {
  display: relative;
  z-index: 3;
  line-height:85%;
  text-align: center;
}

#podcasts table {
position:relative;
z-index: 3;
}


#podcasts table {
  width: 100%;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#podcasts th, td {
  padding: 10px;
  text-align: left;
}

#podcasts th {
  background-color: rgba(255, 255, 255, 0.2);
}

#podcasts tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.05);
}

#podcasts tr:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#podcasts a {
  color: #ffffff;
  text-decoration: none;
}

#podcasts a:hover {
  color: #dddddd;
}

.subscribe-icons {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  position: relative;
  z-index: 3;
  
}

.subscribe-icons a {
  color: black;
  font-size: 2em;
  transition: color 0.3s ease;
  margin: 5px;
}

.subscribe-icons a:hover {
  color: white;
}


#events {
  display:flex;
  flex-direction: column;
  
}

#events h1,h2,h3,p,a,li {
  position: relative;
  z-index: 4;
}

.glass {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border-radius: 10px;
}

.calendar ul {
  list-style-type: none;
  padding: 0;
}

.calendar ul li {
  margin: 10px 0;
}

#give {
  position: fixed;
  top: 20px;
  right: 20px;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  z-index: 999;
}
#give a {
  color: #ffffff;
  text-decoration: none;
}
#give a:hover {
  color: #dddddd;
}

/* Add the following styles to create the "Give Menu" */

#give-menu {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 20px;
  color: #fff; /* Adjust text color as needed */
  font-size: 18px; /* Adjust font size as needed */
  font-family: "-apple-system", "BlinkMacSystemFont", "Roboto", "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 20px; /* Adjust margin as needed */
}

.give-menu-item button {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.give-menu-item button:hover {
  background-color: #4CAF50;
  color: white;
}

/*ABOUT SECTION STYLES */

#about p {
  max-width: 700px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}
#about p span {
  font-weight: bold;
}

/*Background images */
#about {
  background-image: url('/assets/websiteBG/8.png');
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;

}

#about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Dark overlay color */
  z-index: 1;
}

#about::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: url('/assets/websiteBG/2.png');
  background-size: cover;
  background-position: center;
  z-index: -1;
  transform: translate(-50%, -50%);
}











#announcements, #worship, #connect, #podcasts, #events {
  background-image: url('/assets/websiteBG/2.png');
  background-size: cover;
  background-position: center;
}


#worship {
  background-image: url('/assets/websiteBG/2.png');
  background-size: cover;
  background-position: center;
}

#worship {
  transition: background-image 0.5s ease-in-out; /* Adjust the duration and timing function as needed */
}

#worship h1 { 
  font-size: 75px;
   margin: 0; 
   z-index: 2; 
   position: relative; 
   text-align:center;
   line-height: 90%;
   margin-bottom: 73px;
  }

  #worship h2 {
    font-size:52px;
   
  }

  #worship h3 {
    font-size:36px;
    margin-top: 30px;
    margin-bottom: 8px;
  }

  

  #worship p {
    margin: 0px;
    font-size:28px;
    font-weight: 700;
  }