
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

html {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}




.detail-section {
    position: absolute; 
    top: 0; 
    right: 0;
    float: left;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 10px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0), 0 4px 4px 0 rgba(0, 0, 0, 0);
    border-radius: 10px;
    outline: 1px solid rgba(255, 255, 255, 0.5);
    outline-offset: 2px;
}
.main-container {
    display: flex;
    justify-content: space-between;
    }

.big-button, #broadcast-title, #description, #date, a {
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 10px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.107), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.bottom-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


        .live-stream {
            display: flex;
            justify-content: center;
            padding: 20px; /* Adjust padding as needed */
        }
        .live-stream iframe {
            width: 1280px;
            height: 720px;
        }


        .sermon-section {
            background-color: white;
            padding: 20px;
            margin: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }