/* Add padding and centering to sections */
section {
    padding: 0 200px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Mobile responsive styling */
  @media (max-width: 600px) {
    section {
      padding: 0 10%;
    }
  
    table {
      font-size: 12px;
    }
  
    th, td {
      padding: 3px;
    }
  
    h2 {
      font-size: 1.2em;
    }
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: white;
    font-size: 14px;
  }
  
  th, td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    text-align: left;
    font-weight: bold;
  }
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: white;
    text-align: center;
  }
  
  p {
    font-size: 1.25em;
    line-height: 1.5;
    color: white;
  }
  
  h1 {
    font-size: 5em;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    text-transform: uppercase;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    font-size: 14px;
    line-height: 1.5;
    color: white;
  }
  
  ul li a {
    color: white;
    text-decoration: none;
  }
  
  hr {
    border: none;
    border-top: 1px solid #ddd;
    margin-bottom: 20px;
  }
  