
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

html {
    font-family: 'Barlow', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

li {
    font-size:100px;
}

.home-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.time-display {
    font-size: 5em;
    margin-bottom: 20px;
    color:white;
    font-family:barlow;
}

.voice-assistant-icon img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.search-box {
    width: 70%;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    outline: none;
    font-size: 1.2em;
}



.live-stream {
    margin-bottom: 20px;
}

/* If you want to make the video responsive, you can use these styles */
.live-stream iframe {
    max-width: 90%; 
    width: 100%; 
    height: auto;
}

.live-sermon-button {
    background-color: #ff0e0ea2; /* Green */
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 67, 67);
}

.live-sermon-button:hover {
    background-color: rgba(2, 133, 255, 0.301); 
    color: rgb(255, 255, 255); 
}

        /* Import Barlow font and set responsive font size */
        @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');
        .events-list li {
            font-family: 'Barlow', sans-serif;
            font-size: calc(10px + 2vmin); /* Responsive font size */
            color: white;
        }
        /* Add thumbnail images */
        .events-list li::before {
            content: '';
            display: inline-block;
            height: 50px;
            width: 50px;
            background-size: cover;
            background-repeat: no-repeat;
            margin-right: 10px;
        }