/*STAFF GRID */

.staff-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.staff-member {
    text-align: center;
}

.staff-member img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}