

section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f2f2f2;
    /* Light grey background for sections */
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: left;
    align-items:center;
    justify-content: center;
}

section h1,
section h2 {
    font-size: 48px;
    /* Larger font size for headers */
    font-family: "Barlow", sans-serif;
    margin: 0 auto;
    text-align: center;
    max-width: 680px;
    padding: 20px;
}

section h3 {
    font-size: 36px;
    /* Appropriate size for subheaders */
    font-family: "Barlow", sans-serif;
    margin: 10px auto;
    text-align: center;
    max-width: 680px;
    padding: 15px;
}

section p {
    font-size: 21px;
    /* Adjusted font size to match worship.css */
    font-weight: 400;
    text-align: left;
    max-width: 680px;
    margin: 20px auto;
    padding: 10px;
    font-family: "Barlow", sans-serif;
    line-height: 1.8;
}

ul {
    list-style-type: none;
    /* Removes default list styling */
    padding: 0;
    margin: 20px auto;
}

li {
    font-size: 18px;
    /* Consistent with body font size */
    line-height: 1.8;
    padding: 5px 0;
    /* Adds vertical spacing between list items */
    font-family: "Barlow", sans-serif;
    margin: 20px auto;
}

/* If fixed position elements are needed, add similar styles here */

.events-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center; /* Center the grid horizontally */
}

.grid-item {
    background: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
}

.grid-item:hover {
    transform: scale(1.02); /* Slightly enlarge the item */
    box-shadow: 0 
}