footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  z-index: 9999;
  right: 0;
  left: 0;
  text-decoration: none;
  color: #000;
  /* Black text for visibility */
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  background: #fff;
  /* White background for contrast */
  border-top: 3px solid #000;
  /* Black top border for a defined edge */
  font-family: "Barlow", sans-serif;
}

footer section#subscribeAndFollow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer section#subscribeAndFollow div {
  margin-top: 10px;
}


footer a {
  color: #000;
  /* Ensuring the link color is black for visibility */
  text-decoration: none;
  /* No underline for the links */
}

footer a:hover {
  color: #89cff9;
  /* Ensuring the link color is baby blue for visibility */
  text-decoration: underline;
  /* Underline on hover for better visibility */
}