@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');



body {
    line-height: 1.6;
    color: #000;
    /* Black text for better contrast */
    font-size: 18px;
    font-weight: 400;
    font-family: "Barlow", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fff;
    /* White background for a clean look */
    padding-bottom: 200px;
    /* Added padding at the bottom */
}

h1,h2,h3,h4 {
    font-family: "Barlow", sans-serif;
    line-height: 95%;
}

button {
    width: 200px; /* Fixed width */
    height: 50px; /* Fixed height */
    background-color: #ffffff; /* Background color */
    color: rgb(0, 0, 0); /* Text color */
    border: none; /* No borders */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    border-style:solid;
    border-color: black;
    font-size: calc(1em * 0.5 + 0.5vw); /* Responsive font size */
    transition: background-color 0.23s; /* Smooth transition for hover effect */
}

button:hover {
    background-color: #d2d2d2; /* Darker shade on hover */
    color: black;
}


/*typography*/
.headline {
    font-size: 4rem; /* Smaller font size for mobile */
    @media (min-width: 600px) {
        font-size: 8rem; /* Larger font size for desktop */
    }
}


.splash {
    width: 100%;
    height: 20vh;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: left;
}

section h1,
section h2 {
    font-size: 48px;
    /* Larger font size for headers */
    font-family: "Barlow", sans-serif;
    margin: 0 auto;
    text-align: center;
    max-width: 680px;
    padding: 20px;
}

section h3 {
    font-size: 36px;
    /* Appropriate size for subheaders */
    font-family: "Barlow", sans-serif;
    margin: 10px auto;
    text-align: center;
    max-width: 680px;
    padding: 15px;
}

section p {
    font-size: 21px;
    /* Adjusted font size to match worship.css */
    font-weight: 400;
    text-align: left;
    max-width: 680px;
    margin: 20px auto;
    padding: 10px;
    font-family: "Barlow", sans-serif;
    line-height: 1.8;
}

ul {
    list-style-type: none;
    /* Removes default list styling */
    padding: 0;
    margin: 20px auto;
}

li {
    font-size: 18px;
    /* Consistent with body font size */
    line-height: 1.8;
    padding: 5px 0;
    /* Adds vertical spacing between list items */
    font-family: "Barlow", sans-serif;
    margin: 2px auto;
}

a {
    text-decoration: none;
    
}