/* Add a dark blue background to the section */
body {
  line-height: 1.6;
  color: #fff;
  background: #000;
  font-size: 18px;
  font-weight: 400;
  font-family: "-apple-system", "BlinkMacSystemFont", "Roboto", "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.stop {
  overflow: hidden;
}

button {
  position: relative;
  z-index: 10;
}

section h1 {
  font-size: 120px;
  max-width: 60ch;
  color: white;
  position: relative;
  z-index: 3;
}

#page {
  position: relative;
  transition: 1s all ease-in-out;
}

#page.menuopen {
  opacity: 0.6;
  filter: blur(20px);
  transform: scale(1.2);
}

section {
  display: flex;
  min-height: 100vh;
  padding: 30px;
  justify-content: center;
  align-items: center;

  position: relative;
}

section:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;

  height: 100%;
  width: 100%;
}



#fixedlink {
  position: fixed;
  bottom: 0;
  z-index: 9999;
  right: 0;
  left: 0;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 20px;
}

#announcements {
  background-color: #001f3f;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}






#announcements p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
  padding: 25px;
  max-width: 60ch;
  /* Updated max-width */
  margin-left: auto;
  /* Center align */
  margin-right: auto;
  text-align: left;
  /* Center align */
}

#announcements h2 {
  font-size: 1.85em;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 3;
  line-height: 85%;
}

#announcements h3 {
  line-height: 25%;
  text-align: center;
  padding: 10px;
  color: white;
}

@media (max-width: 768px) {
  #announcements p {
    padding: 15px;
    /* Reduced padding for smaller screens */
    font-size: 1em;
    /* Smaller font size for better readability on small devices */
  }

  #announcements h2 {
    font-size: 1.2em;
    /* Adjusted for smaller screens */
  }

  #announcements h3 {
    font-size: 0.9em;
    /* Adjusted for smaller screens */
  }
}


#worship {
  display: flex;
  flex-direction: column;
  background-image: url('/assets/websiteBG/2.png');
  /* Adjust the path as necessary */
  background-size: cover;
  background-position: center;
  position: relative;
}

#worship::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Dark overlay */
  z-index: 1;
}

#worship * {
  position: relative;
  z-index: 2;
}

#about {
  display: flex;
  flex-direction: column;
  background-color: black;
}

#about p {
  font-size: 22px;
  line-height: 130%;
  text-align: left;
  margin: 0px;
  max-width: 60ch;
  line-height: 100%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

#about h1 {
  font-size: 120px;
  position: relative;
  z-index: 10;
  margin: 0px;
}

#about h2,
p {
  position: relative;
  z-index: 3;
}

#about button {
  position: relative;
  z-index: 4;
}

#connect {
  display: flex;
  flex-direction: column;
}

#connect h1 {
  margin: 0;
  position: relative;
  z-index: 5;
}

#connect a {
  font-size: 30px;
  /* Adjust size as needed */
  color: white;
  text-decoration: none;
  /* Removes underline */
  position: relative;
  z-index: 3;
  line-height: 85%;
  transition: color 0.3s ease, transform 0.3s ease;
  /* Add transition for smooth animation */
}

#connect a:hover {
  color: #47a0ff;
  /* Change color on hover */
  transform: scale(1.1);
  /* Make the text grow slightly on hover */
}

.vertical-menu {
  list-style-type: none;
  padding: 0;
}

.vertical-menu li {
  margin-bottom: 10px;
}

.vertical-menu button {
  padding: 10px;
  background-color: #4caf4f00;
  border-style: solid;
  border-color: white;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.vertical-menu button:hover {
  background-color: #45a049;
}

#podcasts {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background-image: url('/assets/websiteBG/yourPodcastImageHere.png');
  /* Replace with your desired background image */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#podcasts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  /* This creates the overlay effect */
  z-index: 1;
}

#podcasts * {
  position: relative;
  z-index: 2;
}

#podcasts h1,
h2,
h3,
p,
a {
  display: relative;
  z-index: 3;
  line-height: 85%;
  text-align: center;
}

#podcasts table {
  position: relative;
  z-index: 3;
}


#podcasts table {
  width: 100%;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#podcasts th,
td {
  padding: 10px;
  text-align: left;
}

#podcasts th {
  background-color: rgba(255, 255, 255, 0.2);
}

#podcasts tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.05);
}

#podcasts tr:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#podcasts a {
  color: #ffffff;
  text-decoration: none;
}

#podcasts a:hover {
  color: #dddddd;
}



.subscribe-icons {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  position: relative;
  z-index: 3;

}

.subscribe-icons a {
  color: black;
  font-size: 2em;
  transition: color 0.3s ease;
  margin: 5px;
}

.subscribe-icons a:hover {
  color: white;
}



#give {
  position: fixed;
  top: 20px;
  right: 20px;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  z-index: 999;
}

#give a {
  color: #ffffff;
  text-decoration: none;
}

#give a:hover {
  color: #dddddd;
}

/* Add the following styles to create the "Give Menu" */

#give-menu {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  /* Adjust text color as needed */
  font-size: 18px;
  /* Adjust font size as needed */
  font-family: "-apple-system", "BlinkMacSystemFont", "Roboto", "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 20px;
  /* Adjust margin as needed */
}

.give-menu-item button {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.give-menu-item button:hover {
  background-color: #4c6faf;
  color: white;
}

/*ABOUT SECTION STYLES */

#about p {
  max-width: 60ch;
  line-height: 100%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

#about p span {
  font-weight: bold;
}

/*Background images */
#about {
  background-image: url('/assets/websiteBG/8.png');
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;

}



#about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  /* Dark overlay color */
  z-index: 1;
}

#about::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: url('/assets/websiteBG/2.png');
  background-size: cover;
  background-position: left;
  z-index: -1;
  transform: translate(-50%, -50%);
}








.styled-section {
  min-height: 100vh;
  background-color: black;
  color: white;
  /* Assuming you want the text color to be white for contrast */
  max-width: 60ch;
  margin: auto;
  /* Centers the section if the parent is wider */
  padding: 20px;
  /* Adds some spacing inside the sections */
}

.styled-section h1,
h2,
h3 {
  margin: 50px;
}

.styled-section p {
  font-size: 16px !important;

}






#worship,
#connect,
#podcasts,
#events {
  background-image: url('/assets/websiteBG/2.png');
  background-size: cover;
  background-position: center;
}

#worship-a {
  color: rgb(255, 255, 255) !important;
  background-image: url('/assets/websiteBG/2.png');
  background-size: cover;
  background-position: bottom;
  position: relative;
}

#worship-a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Adjust the black overlay opacity as needed */
  z-index: 1;
}

#worship-a * {
  position: relative;
  z-index: 2;
}


#worship {
  background-image: "Background-change_worship";
  background-size: cover;
  background-position: center;
}


#worship h1 {
  font-size: 75px;
  margin: 0;
  z-index: 2;
  position: relative;
  text-align: center;
  line-height: 90%;
  margin-bottom: 73px;
}

#worship h2 {
  font-size: 52px;

}

#worship h3 {
  font-size: 36px;
  margin-top: 30px;
  margin-bottom: 8px;
}



#worship p {
  margin: 0px;
  font-size: 28px;
  font-weight: 700;
}

#connect h1 {
  position: relative;
  z-index: 5;
}

#events {
  position: relative;
  background-attachment: fixed;
}


.announcement {
  border: 2px solid #ffffff;
  /* Blue border */
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  /* Rounded corners */
}


#events {
  position: relative;
  background-image: url('/assets/websiteBG/yourImageHere.png');
  /* Replace with your desired background image */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#events::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  /* This creates the overlay effect */
  z-index: 1;
}

#events * {
  position: relative;
  z-index: 2;
}

/* General styling for the events list */
.calendar-preview ul {
  list-style-type: none;
  padding: 0;
}

.calendar-preview li {
  margin-bottom: 10px;
  /* Space between items */
}

.event-date {
  font-weight: bold;
  font-size: 1.1em;
  /* Slightly larger and bolder for visibility */
  color: #007BFF;
  /* Example color: blue */
}

.event-description {
  font-size: 1em;
  color: #ffffff;
  /* Darker text for readability */
}

.view-all-events-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007BFF;
  /* Example button color: blue */
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.view-all-events-btn:hover {
  background-color: #0056b3;
  /* Darker blue on hover */
}

.event-date {
  font-weight: bold;
  font-size: 1.1em;
  /* Slightly larger and bolder for visibility */
  color: #007BFF;
  /* Example color: blue */
}

/* Example of styling a specific event title using its unique ID */
#event-title-0 {
  color: #D9534F;
  /* Example color: red */
}


#podcasts {
  position: relative;
  background-image: url('/assets/websiteBG/yourPodcastImageHere.png');
  /* Replace with your desired background image */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#podcasts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  /* This creates the overlay effect */
  z-index: 1;
}

#podcasts * {
  position: relative;
  z-index: 2;
}



#podcasts * {
  position: relative;
  z-index: 2;
}

#connect {
  background-image: url('/assets/websiteBG/2.png');
  /* Adjust the path as necessary */
  background-size: cover;
  background-position: center;
  position: relative;
}

#connect::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Dark overlay */
  z-index: 1;
}

#connect * {
  position: relative;
  z-index: 2;
}

#highlights {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.highlight {
  background-color: #f0f0f0; /* Light grey background */
  color: #333; /* Dark text color for contrast */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Soft shadow for depth */
  aspect-ratio: 16 / 9;
}

.highlight h2 {
  font-size: 2em; /* Big and bold title */
  margin-bottom: 10px;
}

.highlight p {
  font-size: 1.2em; /* Slightly larger paragraph text */
}

.highlight-date {
  font-style: italic;
  margin-top: 10px;
}