.headline-enhanced {
    text-align: center; /* Center the headline */
    margin-bottom: 30px; /* Increase space below the headline */
    height: 10vh; /* Set minimum height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

.headline-enhanced h1 {
    font-size: 9em; /* Increase font size for drama */
    margin: 0;
}

.headline-enhanced p {
    font-size: 1.2em; /* Description font size */
    margin-top: 10px;
    max-width: 800px;
    line-height: 1.5;
}

.tab-widget, .submenu-container-enhanced {
    display: flex;
    align-items: flex-start;
}

.tab-block-tabs {
    flex: 0 0 200px; /* Fixed width for tabs */
    display: flex;
    flex-direction: column;
    margin-right: 20px; /* Space between tabs and content */
}

.tab-block-tab {
    padding: 10px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    transition: background-color 0.3s;
}

.tab-block-tab:hover {
    background-color: #e0e0e0;
}

.tab-block-content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.tab-block-content h2 {
    grid-column: span 2; /* Make the heading span across columns */
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #444;
}

.tab-block-content p {
    margin-bottom: 15px;
}

.image-container {
    text-align: center; /* Center images */
    margin: 30px 0; /* Add vertical spacing around images */
}

.compact-centered-image {
    max-width: 100%; /* Ensure images are responsive */
    height: auto; /* Maintain aspect ratio */
}


.default-big-section {
    display: flex; /* Use flexbox for layout */
    position: relative; /* Position relative for absolute children */
    padding: 10px;
    border-radius: 8px;
    margin: 20px auto;
    min-height: 50vh;
    flex: 1; /* Allow the section to take the remaining space */
}

.two-column-layout {
    display: flex;
    flex-direction: row;
}

.tab-block-description-container>h1 {
    font-size: 3em;
    text-align:left;
}