.headline-enhanced {
    text-align: center; /* Center the headline */
    margin-bottom: 30px; /* Increase space below the headline */
    height: 10vh; /* Set minimum height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

.headline-enhanced h1 {
    font-size: 9em; /* Increase font size for drama */
    margin: 0;
}

.headline-enhanced p {
    font-size: 1.2em; /* Description font size */
    margin-top: 10px;
    max-width: 800px;
    line-height: 1.5;
}

.tab-block-tabs {
    display: flex;
    justify-content: center; /* Center the tabs */
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px; /* Increase space below the tabs */
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.tab-block-tab {
    background-color: #f1f1f1;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px 24px; /* Increase padding for better touch targets */
    transition: background-color 0.3s;
    margin: 5px; /* Add margin for spacing */
    border-radius: 5px; /* Add rounded corners */
}

.tab-block-tab:hover {
    background-color: blue ;
}

.tab-block-tab.active {
    background-color: blue;
    color: #fff;
}

.tab-block-content {
    display: none;
    padding: 25px; /* Increase padding for better readability */
    border: 1px solid #ccc;
    border-top: none;
    text-align: center;
    margin: 0 auto 40px; /* Center and add space below */
    max-width: 800px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
    background-color: #fff; /* Ensure a white background */
}

@media (max-width: 768px) {
    .tab-block-tab {
        width: 100%; /* Full width on smaller screens */
        text-align: center;
    }
}

.tab-block-content h2 {
    margin-bottom: 20px; /* Add space below headings */
}

.tab-block-content p {
    line-height: 1.8; /* Improve line spacing for readability */
}

.image-container {
    text-align: center; /* Center images */
    margin: 30px 0; /* Add vertical spacing around images */
}

.compact-centered-image {
    max-width: 100%; /* Ensure images are responsive */
    height: auto; /* Maintain aspect ratio */
}


.default-big-section {
    padding: 10px;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 960px;
    min-height:50vh;
}