#worship-a {
    display: flex;
    flex-direction: row;
    grid-gap: 10px;
    align-items: center;
    background-color: rgba(0, 60, 109, 0.062);
    padding: 10px;
  justify-content: center;
    height: 100%; 
    
    /* Responsive adjustments for mobile */
    @media (max-width: 600px) {
        flex-direction: column;
        background-color: white;
        border-style: none;
        padding: 5px; /* Reduce padding for more space */
    }
}

.worship-widget {
    border-style: solid;
    border-width: .4px;
    padding: 10px;
    width: 30vw;
    height: 150px;
    min-height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;

    /* Responsive adjustments for mobile */
    @media (max-width: 600px) {
        width: 100%; /* Full width to utilize space */
        overflow-y: scroll;
        border-style:none;
        text-align: center!important;
        padding: 5px; /* Reduce padding */
        height: auto; /* Auto height for content variability */
    }
}

.worship-widget p {
  font-size: 14px;
  line-height: 95%;
  text-align: left;
}

.worship-widget a {
  color: black;
  font-weight: 600;
  padding: 0;

}

.worship-widget a:hover {
  color: rgb(126, 126, 126);
}

#worship-a h2, #worship-a p {
  margin: 0;
  padding: 5px;
  text-align: center;
  color: black;
}

#worship-a span {
  display: block; /* Makes the span a block element to take full width */
  background-color: #007BFF; /* Blue background for emphasis */
  color: white;
  padding: 5px;
  border-radius: 4px;
}

#worship-a hr {
  grid-column: span 2; /* Extends the horizontal rule across all columns */
}