/* ARCHIVES CSS */

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color:#053a8f;
    color:white;
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  #menu {
    background-color: #d6e6ff;
    padding: 10px;
    margin-bottom: 20px;
    position:fixed;
  }
  
  #menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align:center;

  }
  
  #menu li {
    margin-right: 10px;
  }
  
  #menu a {
    text-decoration: none;
    color: #333;
  }