/*styles*/

:root {
  --cpcBlue1: #1cb0ff;
  --cpcBlueBorder : navy;
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color:rgba(0, 0, 0, 0.949);
    background-image: url("/assets/CPC 3 BG.jpg");
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  header {
    width:100%;
    height: 200px;
    background-color: #000d4200;
    display:flex;
    justify-content:center;
    align-items:center;
    
  }
.home-logo {
  width:200px;
}

.home-logo:hover {
  opacity: .45;
  cursor: pointer;
}

  .logo {
    margin-bottom: 20px;
  }
  
  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 20px;
    background-color: #000d427c;
    border-style:solid;
    border-color:lightblue;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #4567aa;
  }

  .live-button {
    display: block;
    background-color: var(--cpcBlue1);
    color: var(--cpcBlueBorder);
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    min-width:200px;
    font-weight:700;
    border-style:dotted;
    border-color: var(--cpcBlueBorder);
    border-width:1px;
}

.live-button:hover {
    opacity:.5;
    
}
  
  @media (max-width: 600px) {
    .button {
      width: 150px;
      height: 150px;
    }
  }


